//ServiceExperience.module.scss
.firstQuestion {
	margin-bottom: 32px;
}

.title {
	margin-bottom: 32px;
}

.form {
	display: flex;
}

.button {
	display: flex;
	gap: 16px;
}

.subTitle {
	color: #858899;
}

.footer {
	display: flex;
	justify-content: space-between;
}
