.contents {
	display: flex;
	flex-direction: column;
	width: 100%;
	& > label {
		margin-top: 16px;
	}
}

.hr {
	border: 1px solid #e1e1e8;
	width: 100%;
	margin: 0;
}

.agreement {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.advertisement {
	margin-left: 26px;
}
